.vue-img{
    width: 500px;
    height:450px;
    margin:0rem auto;
    border-radius:.5rem;
    background:url("images/landscape.jpg");
    background-size:100% 100%;
    background-repeat:no-repeat;
}
