@mixin display ($dis) {
    -webkit-display:$dis;     
       -moz-display:$dis;
            display:$dis;
}
@mixin border ($dis) {
    -webkit-border:$dis;     
       -moz-border:$dis;
            border:$dis;
}